/* colors */
/* #FEFEFE #C12F2F #555555 #B3EFB2 #E8F1F2 #020302 #C8DAD1 */

@import url("fonts/concrete/stylesheet.css");

/* base styles */
body {
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow-y: scroll;
  scroll-behavior: smooth; */

  color: #020302;
  background-color: #fefefe;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
td {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: transparent;
}

textarea {
  resize: none;
}

/* section */
.section {
  padding: 50px 0;
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 70px 0;
  }
}

/* container */
.container {
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 390px) {
  .container {
    width: 390px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 44px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 80px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 136px;
  }
}

/* button */
.main-button {
  display: flex;
  height: 49px;
  padding: 6px 37px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 10px;
  background-color: #b3efb2;
  transition: color 250ms ease;

  font-family: JetBrains Mono;
  font-size: 18px;
  font-weight: 700;
}

.main-button:hover,
.main-button:focus {
  color: #fefefe;
}

/* hero */
.hero-title {
  text-align: center;
}

/* contacts */
.contacts-section {
  padding-top: 88px;
  padding-bottom: 60px;

  background-image: url(./images/contacts-bcg-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 480px) {
  .contacts-section {
    background-position: 50%;
  }
}

@media screen and (min-width: 768px) {
  .contacts-section {
    padding-top: 88px;
    padding-bottom: 60px;

    background-image: url(./images/contacts-bcg-desc.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 1024px) {
  .contacts-section {
    padding-top: 194px;
    padding-bottom: 120px;
  }
}

.contacts-wrap {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media screen and (min-width: 768px) {
  .contacts-wrap {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .contacts-contacts {
    order: 1;
  }

  .contacts-feedback {
    order: 0;
  }
}

@media screen and (min-width: 1024px) {
  .contacts-wrap {
    gap: 100px;
  }
}

.contacts-title {
  padding-bottom: 40px;
  font-family: JetBrains Mono;
  font-size: 22px;
  font-weight: 700;
  color: #fefefe;
}

@media screen and (min-width: 1024px) {
  .contacts-title {
    font-size: 28px;
    line-height: 1.4;
  }
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contacts-description {
  margin-bottom: 16px;
  color: #fefefe;
}

.contacts-valueAddress {
  color: #b3efb2;
  font-weight: 600;
}

.contacts-value {
  display: block;
  color: #b3efb2;
  font-weight: 600;
  transition: color 250ms ease;
}

.contacts-valueNumbers {
  font-family: Concrete;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.32px;
}

.contacts-value:hover,
.contacts-value:hover {
  color: #fefefe;
}

.contactsNetworks-list {
  display: flex;
  gap: 32px;
}

.contactsNetworks-link {
  display: block;
  background-color: transparent;
}

.contactsNetworks-icon {
  width: 40px;
  height: 40px;
  fill: #b3efb2;
  transition: fill 250ms ease;
}

.contactsNetworks-link:hover .contactsNetworks-icon,
.contactsNetworks-link:focus .contactsNetworks-icon {
  fill: #fefefe;
}

/* feedback form */
@media screen and (max-width: 1023.99px) {
  .feedback-title {
    text-align: center;
  }
}

.feedback-form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  width: 274px;
}

@media screen and (min-width: 1024px) {
  .feedback-form {
    margin: 0;
    gap: 24px;
    align-items: flex-start;
    width: 274px;
  }
}

.feedback-inputWrap {
  position: relative;
  width: 100%;
}

.feedback-label {
  z-index: 10;
  position: absolute;
  top: -10px;
  left: 24px;
  padding: 0 8px;

  background-color: #020302;
  font-size: 14px;
  color: #e8f1f2;
  transition: transform 250ms ease;
}

.feedback-input {
  width: 100%;
  padding: 16px;

  border-radius: 10px;
  border: 2px solid #c8dad1;
  outline: transparent;
  background-color: transparent;
  font-weight: 600;
  color: #555;
  transition: background-color 250ms ease;
}

.feedback-input:hover,
.feedback-input:focus {
  border-color: #c8dad1;
  background-color: #e8f1f2;
}

.feedback-input:hover ~ .feedback-label,
.feedback-input:focus ~ .feedback-label {
  transform: translateY(-12px) translateX(-20px);
  background-color: transparent;
}

.feedback-input::placeholder {
  color: #555;
}

.feedback-input:valid {
  border-color: #c8dad1;
}

.feedback-input:focus:invalid {
  border-color: #c12f2f;
}

.feedback-input:valid {
  border-color: #c8dad1;
}

.feedback-input:valid {
  border-color: #c8dad1;
}

/* footer */
.footer {
  padding: 16px 0;
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 24px 0;
  }
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
}

.footerLogo-image {
  width: 171px;
  height: 39px;
}

@media screen and (min-width: 1024px) {
  .footerLogo-image {
    width: 217px;
    height: 50px;
  }
}

.footerNav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}

@media screen and (min-width: 390px) {
  .footerNav-list {
    margin-left: 61px;
  }
}

@media screen and (min-width: 768px) {
  .footerNav-list {
    flex-direction: row;
    margin-left: auto;
    gap: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .footerNav-list {
    gap: 24px;
  }
}

.footerNav-link {
  color: #020302;
  transition: color 250ms ease;
}

.footerNav-link:hover,
.footerNav-link:focus {
  color: #b3efb2;
}

.footerButton-mob {
  display: block;
  margin-top: 24px;
}

@media screen and (min-width: 1024px) {
  .footerButton-mob {
    display: none;
  }
}

.footerButton-desc {
  display: none;
}

@media screen and (min-width: 1024px) {
  .footerButton-desc {
    display: block;
    margin-left: 24px;
  }
}
